<h1>Legislator Lookup</h1>
<div class="input-field">
  <i class="material-icons prefix">location_on</i>
  {{input autofocus="true" value=zip id="zip" type="text"}}
  <label for="zip">Zip Code</label>
</div>
<button class="btn btn-large cyan" {{action 'zipLookup'}}>Submit</button>
